
<div>
  <div class="jumbotron">
    <h1> Bog App </h2>
  </div>
</div>


<% @creatures.each do |creature| %>
 <p>
   <strong>Name:</strong> <%= creature.name %><br>
   <strong>Description:</strong> <%= creature.description %>
 </p>
<% end %>
